
html{
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
.contenedor{
    height: 100vh;
    width: 100%;
    background: #e5d9b68a;
    /* background: linear-gradient(135deg, rgba(255,255,255,1) 17%, rgba(170,178,213,1) 100%); */
    /* background: linear-gradient(135deg, rgba(255,255,255,0.4458158263305322) 17%, rgba(170,178,213,0.7847514005602241) 84%); */

}
header{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 15vh;
    border-bottom: 4px solid transparent;
    align-content:end;
    justify-content: center;
    /* border-image: linear-gradient(90deg, #0A3871, #ADB5BD, #fff);
    border-image-slice:4;
    margin-bottom: 1%; */

}

header h1{
    display: inline;
    font-size:1.7rem;
    font-weight: bold;
}
    
main{
    height: 85vh;
    width: 100%;
    display: flex;
}
.contenedor-interfaz{
    width: 95%;
    height: 85vh;
    display:flex;
    justify-content:space-between;
    flex-direction:row;

}
.contenedor-entrada-texto-botones{
    width:65%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}
.contenedor-textos-resultados{
    width: 33%;
    height: auto;
    display: flex;
}
.cuadro-contenido{
    display:flex;
    width: 95%;
    height:65vh;
    border-radius: 5px;
    margin-left: 1%;
    
}
.cuadro-texto-procesado{
    display: flex;
    width: 95%;
    height: 75vh;
    border-radius: 5px;
    border: #000;
    box-shadow: 1px 1px 5px 1px #556B2F;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    

}
#texto-desencriptado{
resize: none;
border-radius: 10px;
box-shadow: 1px 1px 5px 1px #556B2F;
width: 95%;
height: 60vh;
font-size: 1.5rem;
margin:2.5vh 0;
background:transparent;
line-height: 1.7rem;
cursor:text;
}
#texto-desencriptado:focus{
    outline:none;
}
#imagen-no-encontrado{
    width:80%;
    margin:10% auto;
}
.cuadro-texto-procesado h2{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
#texto-ayuda{
    font-size: 1rem;
    text-align: center;
}
 #texto-encriptado{
    font-size: 1.5rem;
    display: none;
    width: 90%;
    height: 50vh;
    resize: none;
    border: none;
    margin: 0 auto;
    line-height: 1.5rem;
    text-align: justify;
}

#texto-encriptado:focus{
    outline: none;
}
/*--------Boton copiar----------*/
#btn-copiar{
    display: none;
    margin: 1rem auto;
    font-size:1rem;
    border-radius: 10px;
    padding: 0.8rem 3rem;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
   
}

/*-----------Botones de encriptar y desencriptar-------------*/
.botones{
    width: auto;
    /* display: inline-block; */
    margin: 0 auto;
    height: 15vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.advertencia{
    font-style: italic;
    margin: 1% 0;
    width: 100%;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' -25,
  'opsz' 20;
}

#btn-encriptar,#btn-desencriptar,#btn-borrar-texto{
    display:inline-block;
    font-size:1rem;
    border-radius: 10px;
    padding: 0.8rem 3rem;
    /* margin-left: 2rem; */
    border: none;
    cursor: pointer;
    margin-top: 1%;
    
}
#btn-encriptar{
    background: #556B2F;
    color:#fff;
    transition: 0.5s all;
}
#btn-encriptar:hover,#btn-desencriptar:hover,#btn-copiar:hover,#btn-borrar-texto:hover{
    transform: scale(1.02);
    opacity:0.7;
}
#btn-encriptar:active,#btn-desencriptar:active,#btn-copiar:active,#btn-borrar-texto:active{
    transform: scale(0.9);
    opacity:1;
}
#btn-desencriptar{
    background: #000000cc;
    color:#fff;
    transition: 0.5s all;
}
#btn-borrar-texto{
    background: #556B2F;
    color:#fff;
    transition: 0.5s all;
}
#btn-borrar-texto{
    display:inline-block;
}
/*------------FOOTER---------------*/
footer{
    height: auto;
    background: #000000cc;
    text-align: center;
    padding: 1% 0;

}

footer p{
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
    margin: 5vh 0;
    line-height: 1.2rem;
    
}
#enlace-github{
    width: 0.5rem;
}
footer a{
    display: inline-block;
    margin-left: 0.5rem;
}
/*--------------Animaciones-----------------------*/
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
  
    50% {
      opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    }
}
.advertencia.animado{
    -webkit-animation: jello-horizontal 0.5s both;
    animation: jello-horizontal 0.5s both;
    
}

/*--------------------Responsive--tablet-------------------------*/

@media screen and (max-width: 780px){
  
    header{
        height: 10vh;
    }
    main{
        flex-wrap: wrap;
        height: auto;
    }
    .contenedor-interfaz{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        height:90vh;
        margin: 0 auto;
    }
    
    .contenedor-entrada-texto-botones{
        width:95%;
        height: 59vh;
        
    }
    .cuadro-contenido{
        height: 49vh;
    }
    #texto-desencriptado{
        height: 45vh;
    }
    
    .botones{
        height: 10vh;

    }
    #btn-encriptar, #btn-desencriptar, #btn-borrar-texto {
        margin-bottom: 1%;
        display: block;
    }
    .contenedor-textos-resultados{
        width: 95%;
        margin:0 auto;
        height: 30vh;
    }
    
    .cuadro-texto-procesado{
        height: 29vh;
    }
    #imagen-no-encontrado{
        display: none;
    }
}
  /*-----------Celular---Responsive----------*/

  @media screen and (max-width: 420px){
    header{
        height: 10vh;
    }
    main{
        flex-wrap: wrap;
        height: auto;
    }
    .contenedor-interfaz{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        height:90vh;
        margin: 0 auto;
    }
    
    .contenedor-entrada-texto-botones{
        width:95%;
        height: 65vh;
        
    }
    .cuadro-contenido{
        height: 40vh;
    }
    #texto-desencriptado{
        height: 37vh;
    }
    
    .botones{
        height: 25vh;
        flex-direction: column;
    }
    #btn-encriptar, #btn-desencriptar, #btn-borrar-texto {
        margin-bottom: 1%;
        padding: 0.7rem 3rem;
    }
    .contenedor-textos-resultados{
        width: 95%;
        margin:0 auto;
        height: 25vh;
    }
    
    .cuadro-texto-procesado{
        height: 23vh;
    }
    #imagen-no-encontrado{
        display: none;
    }
}
